# ############# This seems to work. Keep for reference and DO NOT CHANGE
# ukf_filter_node:
#   ros__parameters:
#     frequency: 30.0
#     two_d_mode: true
#     publish_tf: false
#     print_diagnostics: true
#     debug_out_file: /tmp/ukf_debug.txt

#     map_frame: map
#     odom_frame: mmtr/odom
#     base_link_frame: base_footprint
#     world_frame: mmtr/odom

#     imu0: /imu/data_cov_fixed
#     imu0_config: [false, false, false,
#                   false, false, true,
#                   false, false, false,
#                   false, false, true,
#                   false, false, false]
#     imu0_queue_size: 10
#     imu0_differential: false
#     imu0_relative: false
#     imu0_remove_gravitational_acceleration: false
#     imu0_pose_use_child_frame: false

#     odom0: /model/mmtr/odom_cov_fixed
#     odom0_config: [true, true, true,  
#                    false, false, false,  
#                    true, false, false,  
#                    false, false, false,  
#                    false, false, false]

#     odom0_queue_size: 5
#     odom0_differential: false
#     odom0_relative: false
#     odom0_pose_use_child_frame: false

#     process_noise_covariance: [
#           1e-4, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
#           0.0,    1e-4, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
#           0.0,    0.0,    1e-2, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
#           0.0,    0.0,    0.0,    1e-2, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
#           0.0,    0.0,    0.0,    0.0,    1e-2, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
#           0.0,    0.0,    0.0,    0.0,    0.0,    1e-3, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-3, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-8, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,   # vy
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2, 0.0,    0.0,    0.0,    0.0,    0.0,
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2, 0.0,    0.0,    0.0,    0.0,
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-3, 0.0,    0.0,    0.0,
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2, 0.0,    0.0,
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2, 0.0,
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2
#         ]

#     initial_estimate_covariance: [ 
#       0.5,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.5,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.5, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.5,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.5,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,

#       0.0,0.0,0.0, 0.0,0.0,0.5, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.2,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.5,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.5, 0.0,0.0,0.0, 0.0,0.0,0.0,

#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.5,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.5,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, z0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.5, 0.0,0.0,0.0,

#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.5,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.5,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.5
#     ]

ukf_filter_node:
  ros__parameters:
    frequency: 30.0
    two_d_mode: true
    publish_tf: true
    print_diagnostics: true
    debug_out_file: /tmp/ukf_debug.txt

    map_frame: map
    odom_frame: mmtr/odom
    base_link_frame: base_footprint
    world_frame: mmtr/odom

    imu0: /imu/data_zero_yaw
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, true,
                  false, false, false]
    imu0_queue_size: 10
    imu0_differential: false
    imu0_relative: false
    imu0_remove_gravitational_acceleration: false
    imu0_pose_use_child_frame: false

    odom0: /model/mmtr/odom_cov_fixed 
    odom0_config: [false, false, false, 
                   false, false, false, 
                   true, true, false, 
                   false, false, false, 
                   false, false, false] 
    odom0_queue_size: 5 
    odom0_differential: false
    odom0_relative: false 
    odom0_pose_use_child_frame: true 
    odom0_twist_use_child_frame: true


    #ZUPT
    twist0: zupt/twist
    twist0_config: [false, false, false,  # Position: XYZ
                   false, false, false,   # Orientation: roll, pitch, yaw,
                   true, true, false,   # Linear Velocity: XYZ
                   true, true, true,   # Angular Velocity: vroll, vpitch, vyaw
                   false, false, false]   # Linear Acceleration: XYZ

    # process_noise_covariance: [ 
    #       1e-3, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
    #       0.0,    1e-3, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
    #       0.0,    0.0,    1e6, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
    #       0.0,    0.0,    0.0,    1e6, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
    #       0.0,    0.0,    0.0,    0.0,    1e6, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
    #       0.0,    0.0,    0.0,    0.0,    0.0,    5e-5, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
    #       0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    5e-5, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
    #       0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    5e-5, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,   # vy
    #       0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e6, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
    #       0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-3, 0.0,    0.0,    0.0,    0.0,    0.0,
    #       0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-3, 0.0,    0.0,    0.0,    0.0,
    #       0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    5e-4, 0.0,    0.0,    0.0,
    #       0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e6, 0.0,    0.0,
    #       0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e6, 0.0,
    #       0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e6
    #     ]
    process_noise_covariance: [
          1e-4, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
          0.0,    1e-4, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
          0.0,    0.0,    1e-2, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
          0.0,    0.0,    0.0,    1e-2, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
          0.0,    0.0,    0.0,    0.0,    1e-2, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
          0.0,    0.0,    0.0,    0.0,    0.0,    1e-6, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
          0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-3, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
          0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-8, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,   # vy
          0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
          0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2, 0.0,    0.0,    0.0,    0.0,    0.0,
          0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2, 0.0,    0.0,    0.0,    0.0,
          0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-3, 0.0,    0.0,    0.0,
          0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2, 0.0,    0.0,
          0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2, 0.0,
          0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2
        ]

    initial_estimate_covariance: [ 
      0.5,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
      0.0,0.5,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
      0.0,0.0,0.5, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
      0.0,0.0,0.0, 0.5,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
      0.0,0.0,0.0, 0.0,0.5,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,

      0.0,0.0,0.0, 0.0,0.0,0.5, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
      0.0,0.0,0.0, 0.0,0.0,0.0, 0.2,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
      0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.5,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
      0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.5, 0.0,0.0,0.0, 0.0,0.0,0.0,

      0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.5,0.0,0.0, 0.0,0.0,0.0,
      0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.5,0.0, 0.0,0.0,0.0,
      0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.5, 0.0,0.0,0.0,

      0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.5,0.0,0.0,
      0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.5,0.0,
      0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.5
    ]


# ukf_filter_node:
#   ros__parameters:
#     frequency: 30.0
#     two_d_mode: true
#     publish_tf: false
#     print_diagnostics: true
#     debug_out_file: /tmp/ukf_debug.txt

#     map_frame: map
#     odom_frame: mmtr/odom
#     base_link_frame: base_footprint
#     world_frame: mmtr/odom

#     imu0: /imu/data_cov_fixed
#     imu0_config: [false, false, false,
#                   false, false, true,
#                   false, false, false,
#                   false, false, true,
#                   false, false, false]
#     imu0_queue_size: 10
#     imu0_differential: false
#     imu0_relative: false
#     imu0_remove_gravitational_acceleration: false
#     imu0_pose_use_child_frame: false

#     odom0: /model/mmtr/odom_cov_fixed
#     odom0_config: [false, false, true,  
#                    false, false, false,  
#                    true, false, false,  
#                    false, false, false,  
#                    false, false, false]

#     odom0_queue_size: 5
#     odom0_differential: false
#     odom0_relative: false
#     odom0_pose_use_child_frame: false

#     process_noise_covariance: [
#           1e-4,   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    # Pose X
#           0.0,    1e-4,   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    # Pose Y
#           0.0,    0.0,    1e-2,   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    # Pose Z
#           0.0,    0.0,    0.0,    1e-2,   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    # Orientation Roll
#           0.0,    0.0,    0.0,    0.0,    1e-2,   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    # Orientation Pitch
#           0.0,    0.0,    0.0,    0.0,    0.0,    1e-3,   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    # Orientation Yaw 
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-3,   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    # Linear Velocity X    
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-8,   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    # Linear Velocity Y
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2,   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    # Linear Velocity Z
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2,   0.0,    0.0,    0.0,    0.0,    0.0,    # Angular Velocity Roll
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2,   0.0,    0.0,    0.0,    0.0,    # Angular Velocity Pitch
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-3,   0.0,    0.0,    0.0,    # Angular Velocity Yaw
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2,   0.0,    0.0,    # Linear Acceleration X
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2,   0.0,    # Linear Acceleration Y
#           0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-2  # Linear Acceleration Z
#         ]

#     initial_estimate_covariance: [ 
#       0.5,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.5,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.5, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.5,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.5,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,

#       0.0,0.0,0.0, 0.0,0.0,0.5, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.2,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.5,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.5, 0.0,0.0,0.0, 0.0,0.0,0.0,

#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.5,0.0,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.5,0.0, 0.0,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.5, 0.0,0.0,0.0,

#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.5,0.0,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.5,0.0,
#       0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.0, 0.0,0.0,0.5
#     ]
